<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
  <mirrors>
    <mirror>
      <id>central-repo1</id>
      <name>Maven Central (repo1)</name>
      <url>https://repo1.maven.org/maven2</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>force-ipv4</id>
      <properties>
        <java.net.preferIPv4Stack>true</java.net.preferIPv4Stack>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>force-ipv4</activeProfile>
  </activeProfiles>
  <proxies/>
</settings>
