* {
  box-sizing: border-box;
  font-family: monospace, Courier New, Courier, Consolas, Monaco;
}
table {
  margin-top: 1rem;
  border-collapse: collapse; /* 合併框線 */
  width: 100%; /* 讓表格寬度撐滿容器，可根據需求調整 */
}

th,
td {
  border: 1px solid black; /* 添加黑色框線 */
  padding: 8px; /* 增加內邊距，使內容不緊貼框線 */
  text-align: left; /* 文字靠左對齊，可根據需求調整 */
}

th {
  background-color: #f2f2f2; /* 為 th 添加淺灰色底色 */
}

.warning {
  color: red;
  font-size: 0.7rem;
}
