* {
	box-sizing: border-box;
}
/*  main{
   
  } */
 /*  html {
  scroll-behavior: smooth;
} */
div#title {
	margin-left: 200px;
	margin-top: 20px;
}

div.title {
	display: inline-block;
}

div.title_icon img {
	width: 14px;
}

div#ticket_nav {
	width: 100%;
	height: 90px;
}

@media all and (max-width: 800px) {
	div#ticket_nav {
		height: 150px;
	}
}

div.tk_nav {
	display: inline-block;
	width: 100px;
	margin-left: 50px;
	margin-top: 30px;
}

div.tk_nav_group {
	display: inline-block;
}

div.tk_nav_count {
	margin-left: 10px;
}
/* div.ntf_nav.-on{
    color: #EC4899; 
    font-weight: bold;

} */
span.badge {
	display: inline-block;
	/* padding-left:5px;
    padding-right:5px; */
	padding-bottom: 2px;
	width: 20px;
	height: 20px;
	background-color: #D9D9D9;
	color: #6B7280;
	border-radius: 50%;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}
/* span.badge.-on {
    display: inline-block;
    padding-left:5px;
    padding-right:5px;
    padding-bottom: 2px;
    width:20px;
    height:20px;
    background-color: #EC48991A; 
    color: #EC4899;            
    border-radius: 50%;            
    text-align: center;
    font-weight: bold;
    font-size: 13px;
  } */
div.tk_nav.-on div.tk_nav_group {
	color: #EC4899;
	font-weight: bold;
}

div.tk_nav.-on span.badge {
	display: inline-block;
	/* padding-left:5px;
     padding-right:5px; */
	padding-bottom: 2px;
	width: 20px;
	height: 20px;
	background-color: #EC48991A;
	color: #EC4899;
	border-radius: 50%;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

div#main_tk {
	background-color: #cbcbcb1a;
	width: 100%;
	height: 700px;
	padding: 1px;
}

div#ticket {
	background-color: #FFFFFF;
	width: 70%;
	min-height: 530px;
	max-height: 600px;
	margin: 50px auto 50px auto;
	/* position:relative;
    left:50%;
    top:50px;
    transform:translateX(-50%); */
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	/* margin-bottom: 100px; */
	padding: 5px;
	/* border:1px solid darkblue; */
	overflow-y: auto;
}

div.tk {
	background-color: #D9D9D93A;
	width: 90%;
	height: 250px;
	margin: 20px auto 20px auto;
	/* position:relative;
    left:50%;
    top:30px; */
	/* transform:translateX(-50%); */
	color: #6B7280;
	border-radius: 10px;
	/* margin-bottom:20px; */
	transition: height 0.5s ease;
}
div.tk .-view{
	display:initial;
}
div.tk .-unview{
	display:none;
}
div.tk.-on{
	height:500px;
}

div.tk.-on .-view{
	display:none;
}
div.tk.-on .-unview{
	display:initial;
}

@media all and (max-width:1440px) {
	div.tk {
		height: 125px;
	}
}
 div.tk_region {
	display: inline-block;
} 
  
div.tk_left{
	width: 150px;
	height: 150px;
	overflow: hidden;
	display: flex; 
	justify-content: center;
	align-items: center;
	border-radius:10px;
	vertical-align:top;
	margin:30px;

}

div.tk_left img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

div.tk_center{
	margin-top: 30px;
	margin-left: 30px;
	width:50%;
}
div.tk_title {
	font-weight: bold;
	font-size: 16px;
	color: #000000;
}

div.tk_content {
	margin-top: 10px;
}
div.tk_content_set{
	display: flex;
    flex-direction: row;
    gap: 10px; /* 元素間距，可依需求調整 */
    align-items: flex-start; /* 可選，讓文字頂對齊 */
    margin-bottom:5px;
}
div.tk_content_title{
	width:100px;
}
div.tk_region {
	display: inline-block;
}

div.tk_right {
	margin-left: 60px;
	text-align: center;
	margin-top: 5px;
	vertical-align:top;
	margin-top:150px;
}

@media all and (max-width: 1440px) {
	div.tk_right {
		display: none;
		/* margin-left:0px; */
	}
}


div.tk_status{
	border-radius:10px;
	background-color:#DCFCE7;
	width:85px;
	height:27px;
	color:#16982B;
	font-weight: bold;
}
div.tk_more{
	color:#EC4899;
	margin-top:10px;
}
a.tk_more_ {
    text-decoration: underline;
}



div.tk_delete {
	width: 70px;
	position: center;
}

div.tk_delete img {
	width: 20px;
}

div.tk_time {
	font-size: 14px;
	width: 70px;
}

a {
	text-decoration: none;
	color: inherit;
}

div.tk_tab {
	cursor: pointer;
}

div.tab_content.-on {
	display: none
}

div.tk_empty {
	background-color: #D9D9D93A;
	width: 90%;
	height: 500px;
	margin: 20px auto 20px auto;
	/* position:relative;
    left:50%;
    top:30px; */
	/* transform:translateX(-50%); */
	color: #D9D9D9;
	border-radius: 10px;
	position: relative;
	/*  text-align:center;
    vertical-align:middle; */
}

div.tk_empty_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
}




div.tk_region_open{
	display:inline-block;
}
div.tk_botton_left{
	margin-left:245px;
	
}
div.tk_botton_right{
	margin-left:2px;
	vertical-align:top;
}
div.tk_content_qrcode img{
	width:180px;
	border-radius: 10px;
}



div.inner_tk_block {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  height: 0; /* 可選，避免佔位 */
  overflow: hidden; /* 隱藏超出部分 */
}

div.inner_tk_block.-on {
  opacity: 1;
  visibility: visible;
  height: auto; /* 讓元素展開 */
  transition: opacity 1.5s ease;
}


/* div.inner_tk_block{
	display:none;
}
div.inner_tk_block.-on{
	display:initial;
	
} */
/* 

<div id="notification">
<div class="ntf">
    <div class="ntf_title">活動提醒<div
       
        <div class="ntf_content">2024春季音樂節將於明天舉行</div>
        <div class="ntf_delete"><img src="./images/delete.png" alt="刪除" ></div>
        <div class="ntf_time">2小時前</div>




<div id="notification_nav">
<div class="ntf_nav">
    <div class="ntf_nav_title">
        所有通知
    </div>
    <div class="ntf_nav_count">
        2
    </div>
</div> */