/* section 主內容 */
section.columns {
  & .card {
    & .box {
      box-shadow: none;
      border: 2px solid #dbdbdb;
      & .level-item {
        & .control {
          input {
            padding-bottom: 7px;
          }
        }
      }
    }
    & .update-container {
      padding-bottom: 1.5rem;
      & .update {
      }
      & .updating::after {
      }
    }
  }
  & .buttons {
    & .next {
      background-color: #ec4899;
      color: white;
    }
  }
}
